<div class="row">
    <div class="col-sm-6">
        <a href="{{ path('simseo_forum_topic_show', { 'slug' : topic.slug }) }}">
            <h4>{{ topic.title }}</h4>
            par: {{ topic.author.username }}</br>
            le: {{ topic.createdAt|date("d-m-Y à H:i") }}
        </a>
    </div>
    <div class="col-sm-3">
        {{ topic.posts|length }}
    </div>
    <div class="col-sm-3">
        dernier message par:
        {{ topic.posts.last.author.username }}
        {{ topic.posts.last.createdAt|date("d-m-Y H:i") }}
    </div>
</div>
